{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
  <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
  <title>Colégio Carneiro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="home">Colégio Carneiro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="admin">Página do Administrador</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="jumbotron jumbotron-fluid text-center bg-light">
    <div class="container">
      <br><br><br>
      <h1 class="display-4">Bem-vindo ao Colégio Carneiro</h1>
      <p class="lead">Excelência educacional desde 1990</p>
      <br>
    </div>
  </header>

  <section id="sobre" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Sobre Nós</h2>
          <p>O Colégio Carneiro é uma instituição de ensino comprometida com a excelência educacional e o
            desenvolvimento integral dos alunos. Oferecemos uma ampla variedade de cursos e atividades extracurriculares
            para promover o crescimento acadêmico, social e emocional dos estudantes. 
            <br> <br>
            Um colégio que foi pensado com muito amor e carinho pelo nosso chefe Luiz Henrique Carneiro!</p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </section>

  <section id="cursos" class="bg-light py-5">
    <div class="container">
      <h2>Nossos Cursos</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Ensino Fundamental</h5>
              <p class="card-text">Nossa escola oferece um ensino fundamental de qualidade, com um corpo docente
                altamente capacitado e uma estrutura moderna e acolhedora.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Ensino Médio</h5>
              <p class="card-text">Preparamos nossos alunos para os desafios do ensino médio, oferecendo uma educação de
                excelência e preparação para o futuro.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Educação Infantil</h5>
              <p class="card-text">Proporcionamos um ambiente seguro e estimulante para o desenvolvimento das
                habilidades cognitivas e sociais das crianças.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contato" class="py-5">
    <div class="container">
      <h2>Entre em Contato</h2>
      <p>Para mais informações sobre o Colégio Carneiro, entre em contato conosco através dos seguintes meios:</p>
      <ul>
        <li>Telefone: (11) 1234-5678</li>
        <li>Email: contato@colegiocarneiro.com</li>
        <li>Endereço: Av. Principal, 123 - Cidade, Estado</li>
      </ul>
    </div>
  </section>

  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p>&copy; 2023 Colégio Carneiro. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>